
.Header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  //justify-content: space-between;
  margin: 1rem;
  border: 2px solid #239a7a;
  h3{
    margin: 1rem;
    border: 1px solid #ff0f0f;
    display: flex;
    justify-Content: center;
  }
}

.Body {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #239a7a;
}

.LeftBody {
  justify-content: center;
  margin: 1rem;
  border: 1px solid #239a7a;
}
.MidBody {
  justify-content: center;
  margin: 1rem;
  border: 1px solid #239a7a;
  width: 100%;
}

.RightBody {
  justify-content: center;
  margin: 1rem;
  border: 1px solid #239a7a;
}
.BottomBody {
  justify-content: center;
  margin: 1rem;
  border: 1px solid #239a7a;
}
