.Head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.HeadMenu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.DarkMode{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}