.Head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border: 2px solid #9a2323;
}

.HeadMenu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  border: 2px solid #00ffb8;
  width: 100%;
}

.DarkMode{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 1rem;
  border: 2px solid #ffe600;
}