.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;

  --colorone: red;
}

.canvasRectangle {
  svg {
    width: auto;
    height: auto;
  }
  g {
    mix-blend-mode: lighten
  }

  .rectangle {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: black;
  }

  .BaseRectangle {
    fill: black;
    stroke: black;
    x: 0;
    y: 0;
  }

  .ColorRectangle {
    x: 2.5;
    y: 2.5;
  }
}

.canvasCircle {
  $baseCircleRedX: 75;
  $baseCircleRedY: 75;
  $baseCircleGreenX: 110;
  $baseCircleGreenY: 75;
  $baseCircleBlueX: 93;
  $baseCircleBlueY: 101;

  svg {
    width: 100%;
    height: auto;
  }
  g {
    mix-blend-mode: lighten
  }

  .BaseCircle {
    fill: black;
    stroke: black;
    strokeWidth: 2;
  }


  .BaseRed {
    cx: $baseCircleRedX;
    cy: $baseCircleRedY;
  }

  .BaseGreen {
    cx: $baseCircleGreenX;
    cy: $baseCircleGreenY;
  }

  .BaseBlue {
    cx: $baseCircleBlueX;
    cy: $baseCircleBlueY;
  }

  .RedCircle {
    cx: $baseCircleRedX;
    cy: $baseCircleRedY;
  }

  .GreenCircle {
    cx: $baseCircleGreenX;
    cy: $baseCircleGreenY;
  }

  .BlueCircle {
    cx: $baseCircleBlueX;
    cy: $baseCircleBlueY;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .RedCircleLogo, .GreenCircleLogo, .BlueCircleLogo {
    animation-duration: 20s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
  }
  .RedCircleLogo {
    animation-name: fadeRed;
  }
  .GreenCircleLogo {
    animation-name: fadeGreen;
  }
  .BlueCircleLogo {
    animation-name: fadeBlue;
  }
}

@keyframes fadeRed {
  0%   {fill: red;}
  25%  {fill: blue;}
  75% {fill: green;}
  100%   {fill: red;}
}
@keyframes fadeGreen {
  0%   {fill: green;}
  25%  {fill: red;}
  75% {fill: blue;}
  100%   {fill: green;}
}
@keyframes fadeBlue {
  0%   {fill: blue;}
  25%  {fill: green;}
  75% {fill: red;}
  100%   {fill: blue;}
}

.canvasCircleLogo{
  g {
    mix-blend-mode: lighten
  }
  .RedCircleLogo {
    fill: red;
  }
  .GreenCircleLogo {
    fill: green;
  }
  .BlueCircleLogo {
    fill: blue;
  }

}




