.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.canvasRectangle {
  svg {
    width: auto;
    height: auto;
  }
  g {
    mix-blend-mode: lighten
  }

  .rectangle {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: black;
  }

  .BaseRectangle {
    fill: black;
    stroke: black;
    x: 0;
    y: 0;
  }

  .ColorRectangle {
    x: 2.5;
    y: 2.5;
  }
}

.canvasCircle {
  $baseCircleRedX: 75;
  $baseCircleRedY: 75;
  $baseCircleGreenX: 110;
  $baseCircleGreenY: 75;
  $baseCircleBlueX: 93;
  $baseCircleBlueY: 101;

  svg {
    width: 100%;
    height: auto;
  }
  g {
    mix-blend-mode: lighten
  }

  .BaseCircle {
    fill: black;
    stroke: black;
    strokeWidth: 2;
  }


  .BaseRed {
    cx: $baseCircleRedX;
    cy: $baseCircleRedY;
  }

  .BaseGreen {
    cx: $baseCircleGreenX;
    cy: $baseCircleGreenY;
  }

  .BaseBlue {
    cx: $baseCircleBlueX;
    cy: $baseCircleBlueY;
  }

  .RedCircle {
    cx: $baseCircleRedX;
    cy: $baseCircleRedY;
  }

  .GreenCircle {
    cx: $baseCircleGreenX;
    cy: $baseCircleGreenY;
  }

  .BlueCircle {
    cx: $baseCircleBlueX;
    cy: $baseCircleBlueY;
  }
}






